# Daily Challenge

**The Power Of NumPy**

We said that NumPy is pretty much a list on steroids. Letâ€™s see that in action.

For the tasks below, do them using a regular Python list implementation, and then use NumPy.

- Create a table (i.e. a 2d array) of size M x N filled with random integers between 1 and 100,
where 1 < N < 40 and 1 < M < 50.

- Print out the third row

- Print out the third column

- Set every element in the last row equal to 7

- Set every element in the last column equal the sum of the first two columns. (note: the result of
the sum is a list which will the same length as the last column)

In [4]:
import pandas as pd
import numpy as np
import random

## Using Python

In [7]:

N = random.randint(2,40)
M = random.randint(2,50)

py_table = []
for r in range(0, N):
    py_table.append([random.randint(1,100) for c in range(0, M)])
    
    
py_table

[[60,
  86,
  30,
  88,
  95,
  20,
  52,
  17,
  75,
  49,
  5,
  98,
  62,
  72,
  39,
  49,
  86,
  11,
  63,
  68,
  7,
  100,
  11,
  74,
  92,
  37,
  48],
 [44,
  81,
  89,
  31,
  24,
  84,
  46,
  67,
  22,
  21,
  78,
  1,
  57,
  65,
  82,
  86,
  82,
  47,
  49,
  16,
  34,
  8,
  83,
  55,
  36,
  59,
  75],
 [77,
  92,
  20,
  39,
  28,
  49,
  13,
  14,
  10,
  84,
  17,
  71,
  53,
  96,
  74,
  49,
  78,
  64,
  33,
  85,
  39,
  78,
  51,
  56,
  48,
  47,
  96],
 [37,
  86,
  15,
  71,
  29,
  24,
  75,
  28,
  4,
  35,
  7,
  3,
  91,
  90,
  77,
  80,
  34,
  41,
  6,
  11,
  5,
  87,
  28,
  89,
  36,
  26,
  58],
 [20,
  79,
  51,
  71,
  88,
  76,
  83,
  87,
  4,
  10,
  81,
  52,
  30,
  58,
  41,
  45,
  17,
  31,
  29,
  11,
  43,
  74,
  99,
  27,
  24,
  64,
  35],
 [19,
  32,
  34,
  62,
  80,
  24,
  49,
  73,
  37,
  80,
  22,
  84,
  37,
  81,
  17,
  17,
  64,
  22,
  22,
  91,
  60,
  94,
  19,
  3,
  92,
  65,
  27],
 [66,
  52,
  62,
  21,
  68,
  84,
  73,
  45,
  82,
  36,
  68,
  96,
  51,
  24,
  63,
  34,
  79,
  16,
  62,
  43,
  62,
  90,
  22,
  98,
  94,
  71,
  58]]

In [14]:
len(py_table) == N

True

In [15]:
len(py_table[0])==M

True

In [16]:
# The third row
py_table[2]

[77,
 92,
 20,
 39,
 28,
 49,
 13,
 14,
 10,
 84,
 17,
 71,
 53,
 96,
 74,
 49,
 78,
 64,
 33,
 85,
 39,
 78,
 51,
 56,
 48,
 47,
 96]

In [21]:
#The third column
col = [py_table[i][2] for i in range(len(py_table))]
col

[30, 89, 20, 15, 51, 34, 62]

In [57]:
# Set every element in the last row equal to 7 (index)
seven = [py_table[len(py_table)-1][i] for i in range(len(py_table[len(py_table)-1])) if py_table[len(py_table)-1][i]==7]
seven

[]

In [58]:
# Set every element in the last column equal the sum of the first two columns
sum_list = [item1+item2 for item1,item2 in zip(py_table[0],py_table[1])]
element = {i for i in sum_list for j in py_table[len(py_table)-1] if i==j}
element

{58, 84, 94, 96, 98}

In [61]:
index = {j for i in range(len(sum_list)) for j in range(len(py_table[len(py_table)-1])) if sum_list[i]==py_table[len(py_table)-1][j]}
index

{5, 11, 23, 24, 26}

## Using Numpy

In [37]:
N = np.random.randint(2,40)
M = np.random.randint(2,50)
np_table = np.random.randint(1,100,(N,M))

In [38]:
np_table

array([[36, 97, 79, 67, 98,  2, 79, 25, 69, 84, 20, 91, 92, 73, 38, 66,
        49, 45, 25, 83, 50, 75, 85, 40, 93],
       [29, 21, 31, 42, 57, 38,  1, 53, 75, 91, 43, 41, 35, 73,  1, 36,
        97, 94, 10, 83, 77, 33, 17, 10, 81],
       [14, 10, 69, 48,  3, 35, 50, 48, 77, 29, 62,  2, 37, 72, 32,  8,
        29, 89, 19, 76, 78, 32, 22, 57, 10],
       [90,  2, 80, 12, 71, 94, 21, 12, 62, 66, 95, 33, 39, 94, 77, 85,
        14, 26, 49, 55, 82, 56, 24, 85, 80],
       [25, 58, 36, 48, 52, 94, 89, 70, 75, 71, 86, 42, 95, 85, 74, 97,
        18, 17, 57,  1, 75, 10, 71,  9, 53],
       [94,  5, 75, 22, 74, 54, 36, 69, 60, 99, 57,  8, 10, 73, 47, 73,
        77, 75, 22, 98, 54,  7, 17, 79, 68],
       [86, 89, 48, 63, 28, 87, 75, 99, 21, 34, 72,  1,  1, 72, 44, 38,
        74, 37, 49, 65, 43, 57, 14, 84, 59],
       [89, 70, 47, 64, 68, 34, 58, 10, 86, 99, 84, 82, 90, 53, 61, 62,
        37, 10, 68, 21, 86, 10, 55, 72, 45],
       [ 9,  3, 87, 55,  6, 61,  9, 65, 75, 85, 49, 18, 77, 73, 81, 47,
        35, 70, 44, 72, 27, 91, 91, 17, 75],
       [11, 66, 42,  7,  7, 59, 87, 36, 40, 74, 13, 81, 36, 39, 11, 10,
        96,  7, 35, 80, 31, 46, 53, 13, 48],
       [55,  7, 33, 83, 90, 15, 73, 56, 29, 12, 92, 43, 71, 44,  6, 67,
        29, 59, 60, 76, 20, 52, 12, 97, 94],
       [13,  8, 48, 49,  5, 76, 66, 25, 69, 28, 60, 93,  9, 18, 81, 52,
        15, 74, 98, 42, 61, 98, 62, 82, 34],
       [86, 79, 55, 17, 55, 16, 30, 20, 39, 18, 78, 45, 33, 48, 92, 40,
        76, 62, 54, 85, 50, 50, 10, 56, 93],
       [82, 84, 14, 49, 85, 22, 81, 56, 25, 69, 50, 50, 18,  5,  4, 38,
        88, 14, 26, 72, 29, 38, 91, 59, 50],
       [ 1, 63, 29, 21, 94, 35, 31, 48, 85, 46, 57, 45, 99, 77, 83, 57,
        29, 18,  5, 25, 25,  2, 96,  5, 93],
       [67, 91, 58, 92, 83,  6, 13, 24, 94, 31, 41, 20, 94, 83, 19, 52,
        22, 52,  2, 60, 73, 13, 59, 22, 24],
       [95, 27, 79, 80, 76, 15, 84, 13, 18, 88, 37, 34, 58, 96, 90, 68,
         2, 75, 29, 68, 58, 85, 60, 65, 81],
       [59, 30, 97, 58, 26, 43, 87, 46, 94, 93, 37, 16, 27, 44, 92, 70,
        46, 70, 48, 52, 67, 92, 96, 75, 55],
       [45, 15, 96, 80,  5, 99, 39, 94, 27, 34, 61, 15, 73, 32, 37, 78,
        67,  7,  1, 73, 37, 95, 94, 52, 83],
       [79, 36, 59, 50, 30, 93, 29,  9, 24, 38, 33, 49, 19, 80, 69, 74,
        73, 32, 27, 32, 35,  8, 84, 67, 56],
       [ 8,  7, 33, 94, 78, 23, 73, 61, 41, 49, 51, 92, 18, 31,  4, 64,
        22, 58, 35, 84, 51, 69, 73, 12, 33],
       [88, 69, 11, 92, 95, 12, 29, 31, 18, 85, 82, 76, 73, 82, 41, 94,
        85, 67, 85, 70, 16, 17,  4, 46, 59],
       [96, 99, 30, 69, 38, 96, 14, 86, 48, 70, 14, 59, 59, 37, 24, 72,
         1, 95, 30, 38, 67, 73,  5, 76, 80],
       [13,  7, 54, 48, 63, 29, 21, 81, 13, 31, 45, 57, 37, 67, 38, 53,
        62, 58, 83, 76, 65, 44, 91, 35, 79],
       [29, 73, 72, 73, 50, 40, 41, 38, 60, 31, 29, 30, 57, 40, 35, 49,
        86, 58, 73, 62, 61, 72, 35, 26, 40],
       [28, 55,  9, 91, 31, 13,  4, 22, 38, 49, 67, 44, 45, 12, 61, 86,
        95, 38, 62, 44, 58, 54, 38,  2, 59],
       [83, 47, 67, 36,  5, 46,  1, 84, 29, 45, 11,  2, 91, 49, 72, 73,
        96, 44, 58, 56, 70, 99, 65, 45, 48],
       [55, 18, 13, 24, 28, 33, 42, 60, 82, 36, 85, 11, 50, 99, 51, 70,
        91, 97, 50, 50, 37, 80, 10,  5, 25],
       [41, 21,  4,  9, 98, 13, 13, 14, 69, 72, 99, 97, 65, 38,  5, 10,
        83, 33, 48, 23, 58, 21, 96, 60, 63],
       [67, 66,  1, 15,  3, 69, 46, 29, 81, 14, 68, 81, 49, 37, 67, 64,
        92, 99, 29, 89, 68, 79, 49, 56, 84],
       [68, 37, 48, 31, 74, 25, 69, 69, 60, 54, 15, 61, 31, 75, 48, 87,
        70, 66, 83, 66, 36, 59,  1,  7, 14],
       [39, 92,  5, 16, 69, 99, 41,  3, 15, 11, 49, 15, 16, 42,  1, 18,
        22, 57, 44, 98, 47,  5, 74, 32, 72],
       [71, 33, 22, 31, 94, 99, 50, 65,  9,  7, 15, 41, 21, 66, 96,  6,
        45, 12, 90,  1,  9, 63, 25, 28, 51]])

In [39]:
# The third row
np_table[2]

array([14, 10, 69, 48,  3, 35, 50, 48, 77, 29, 62,  2, 37, 72, 32,  8, 29,
       89, 19, 76, 78, 32, 22, 57, 10])

In [40]:
# The third column
np_table[:,2]

array([79, 31, 69, 80, 36, 75, 48, 47, 87, 42, 33, 48, 55, 14, 29, 58, 79,
       97, 96, 59, 33, 11, 30, 54, 72,  9, 67, 13,  4,  1, 48,  5, 22])

In [51]:
# Set every element in the last row equal to 7
x = np_table[len(np_table)-1]
np.where(x==7)

(array([9], dtype=int64),)

In [64]:
# Set every element in the last column equal the sum of the first two columns
sum_rows = np_table[0]+np_table[1]
index2 = {j for i in range(len(sum_rows)) for j in range(len(np_table[len(np_table)-1])) if sum_rows[i]==np_table[len(py_table)-1][j]}
index2

{3, 19}